<div id="menu">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <span><h2><a [routerLink] = "'/Home'">Home</a></h2></span> -->
      
      <ng-template ngIf="true">
        
          <button mat-button [routerLink] = "'/Home'">Home</button>
        </ng-template>

      <ng-template ngIf="true">
          <button mat-button [matMenuTriggerFor]="menu1" #matMenuTrigger="matMenuTrigger" (mouseenter)="matMenuTrigger.openMenu()">Relationship</button>
          <mat-menu #menu1="matMenu" [overlapTrigger]="false">
            <div (mouseleave)="matMenuTrigger.closeMenu()">
              <button mat-menu-item [routerLink] = "'/Home'">Stoping Argument</button>
              <button mat-menu-item>Resolving Conflicts</button>
              <button mat-menu-item>Dealing with Angery spouse</button>
              <button mat-menu-item>Are we good listner?</button>
            </div>
          </mat-menu>
        </ng-template>

      <ng-template ngIf="true">
        <button mat-button [matMenuTriggerFor]="menu1" #matMenuTrigger="matMenuTrigger" (mouseenter)="matMenuTrigger.openMenu()">Being Postive</button>
        <mat-menu #menu1="matMenu" [overlapTrigger]="false">
          <div (mouseleave)="matMenuTrigger.closeMenu()">
            <button mat-menu-item>Stoping Argument</button>
            <button mat-menu-item>Resolving Conflicts</button>
            <button mat-menu-item>Resolving Conflicts</button>
            <button mat-menu-item>Resolving Conflicts</button>
          </div>
        </mat-menu>
      </ng-template>

      <ng-template ngIf="true">
        <button mat-button [matMenuTriggerFor]="menu" #matMenuTrigger="matMenuTrigger" (mouseenter)="matMenuTrigger.openMenu()">Health</button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <div (mouseleave)="matMenuTrigger.closeMenu()">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            <button mat-menu-item>Item 3</button>
            <button mat-menu-item>Item 4</button>
            <button mat-menu-item>Item 5</button>
          </div>
        </mat-menu>
      </ng-template>

      <ng-template ngIf="true">
          <button mat-button [matMenuTriggerFor]="menu" #matMenuTrigger="matMenuTrigger" (mouseenter)="matMenuTrigger.openMenu()">Fitness</button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <div (mouseleave)="matMenuTrigger.closeMenu()">
              <button mat-menu-item>Running</button>
              <button mat-menu-item>Cycling</button>
              <button mat-menu-item>Yoga</button>
              <button mat-menu-item>Stair Climbing</button>
              <button mat-menu-item>3 Excercise to cover entire Body</button>
              <button mat-menu-item>4-4-4 Breathing Excercises</button>
            </div>
          </mat-menu>
        </ng-template>
  
      <ng-template ngIf="true">
        <button mat-button [routerLink] = "'/abouts'">About Us</button>
      </ng-template>

      <ng-template ngIf="true">
          <button mat-button [routerLink] = "'/abouts'">About Us</button>
        </ng-template>
        

      <ng-template ngIf="true">
          <button mat-button [routerLink] = "'/abouts'">About Us</button>
        </ng-template>
    

    <span><h2><a [routerLink] = "'/contacts'">Cources</a></h2></span>

      <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon>