<article>
 
  <p></p>
    <p>
 
      We are a non profit organization, We are working with diffrent organization to  
      spready awareness about health -physical and mental.

      our collegues also regulary paticipate and orgnatize  mega event. 

    </p>


    <h3> Be Aware of How You React</h3>
    <p>One our most common reactions to attacks is the automatic fight or flight response. To fight is to literally provoke an argument by hurling a barb back at your spouse. Flight involves disengaging, whether by physically leaving the room, or pulling away emotionally. Both responses only serve to prolong the tension between you and your partner.
        A better choice to try is what author Yehudis Karbal calls the Pareve Response—a method of acknowledging the comment your spouse makes while remaining neutral yourself. It shows you are listening to the other person while taking the time to calm down before addressing the criticism directly. These responses are kinder and more productive for both parties. They avoid engaging in power struggles and offer a refreshing approach to solutions instead. I have included example critical comments below as well as the appropriate Pareve Response.
        .</p>
  </article>
  
  <p><strong>Note:</strong> The article tag is not supported in Internet Explorer 8 and earlier versions.</p>