<!-- https://www.dotnettricks.com/learn/angularmaterial/material-menu-component-example
<div>

</div>
<mat-card>
  <!-- <md-card-header [style.backgroundColor]="'yellow'"> 
      <md-card-title>Title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-header> -->
 <!-- <div class="alert alert-info">
    <strong>All you need to Know</strong>
  </div>
</mat-card>
<mat-card [style.backgroundColor]="'Green'">
  <h2>
    Nested Menu
  </h2>
  <button mat-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>dashboard</mat-icon>
    Menu
  </button>

  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu1">Angular</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu2">React</button>
  </mat-menu>

  <mat-menu #subMenu1="matMenu">
    <button mat-menu-item  >Angular 1.x</button>
    <button mat-menu-item>Angular 2</button>
    <button mat-menu-item>Angular 4</button>
    <button mat-menu-item>Angular 5</button>
    <button mat-menu-item>Angular 6</button>
  </mat-menu>

  <mat-menu #subMenu2="matMenu">
    <button mat-menu-item>React 16.0</button>
    <button mat-menu-item>React 16.1</button>
    <button mat-menu-item>React 16.2</button>
    <button mat-menu-item>React 16.3</button>
    <button mat-menu-item>React 16.4</button>
    <button mat-menu-item>React 16.5</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="rootMenu1">
    <mat-icon>dashboard</mat-icon>
    Menu2
  </button>
  <mat-menu #rootMenu1="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu3">JAVA</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu4">Python</button>
  </mat-menu>

  <mat-menu #subMenu3="matMenu">
    <button mat-menu-item>Angular 1.x</button>
    <button mat-menu-item>Angular 2</button>
  </mat-menu>
  <mat-menu #subMenu4="matMenu">
    <button mat-menu-item>Angular 1.x</button>
    <button mat-menu-item>Angular 2</button>
  </mat-menu>
</mat-card>
 -->

<div>
    <mat-card>
      <button mat-raised-button>Cersie Lannister</button>
      <button mat-raised-button color="primary">Jaime Lannister</button>
      <button mat-raised-button color="accent">Tyrion Lannister</button>
    </mat-card>
  </div>