

<strong>
        <b>About-us</b>
</strong>
<p>
        Hi I am Amol Singh ,
        I have been working in banking and software industry from last 7 years.
       I started my career from background verification firm which developed keen interest in me about
       Quality check.
       I recently working as a full stack developer in Blackrock, I have been working there from last 5 years.
       I am passionate learner about investment banking, I am passionate about technology 
       Specially software development, investment banking and software industry is what fascinate me a lot.
       
       I am also very keen about geo political scenarios which impact economy and countries.
       
       Throughout my career I have learned and worked in many technology for example
       VBA and SQL was where I embarked my journey of tech. Later that I extended to robust tech
       Like JAVA, Python and Web technologies.
       These days there is buzz about of AI which I also keep looking into it.
       

</p>