<!--The content below is only a placeholder and can be replaced.-->
<!-- https://www.smashingmagazine.com/2018/11/a-complete-guide-to-routing-in-angular/ -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <div class="gallery">
    <img src="assets/img/1.JPG" lt="Cinque Terre" width="100" height="50">
  
  </div>
  

<div>

  <app-header> </app-header>
</div>
<div>
<app-menudemo></app-menudemo>
</div>
<router-outlet></router-outlet>

 <div>    
   <app-footer></app-footer>
 </div>


