html, body {
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;  /* height of footer */
}
.footer_body {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;  /* height of footer */
    background-color: rgb(102, 102, 102);
}